:root {
  --white:#fff;
  --purple: #987EEE;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat';
  /* margin: 0; */

}

h1 {
  font-size: 500%;
}

h2 {
  font-size: 350%;
}