:root {
  --white:#fff;
  --purple: #987EEE;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat';
  /* margin: 0; */
}

body {
  /* background-image: url('/assets/images/background.jpg'); */
  background-image: url('https://aionarae.github.io/aiona-personal-portfolio/assets/images/background.jpg');
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 500%;
}

h2 {
  font-size: 350%;
}