body {
  /* background-image: url("https://aionarae.github.io/aiona-personal-portfolio/assets/images/background-image.png"); */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh;
  background-color: var(--dark-purple);
}

header {
  width: 99%;
  z-index:1;
  position: absolute;
  /* border: 2px dotted rgb(30, 300, 201); */
}

header nav {
  /* border: 2px dotted rgb(30, 210, 201); */
  position: relative;
  top: 0;
  /* display: flex; 
  flex-direction: column;  */
  padding: 20px 50px 0 0;
}

header nav ul {
  position: relative;
  /* border: 2px dotted var(--purple); */
  display: flex; 
  flex-direction: row;
  justify-content: flex-end;
}

header nav a {
  /* border: 2px dotted var(--white); */
  font-size: 180%;
  color: var(--white);
  text-decoration: none;
  font-weight: 350;
}

/* This shows an underline if users hove over the link */
header nav a:hover {
  text-decoration: underline;
}

section {
  display: flex;
  flex-direction: column;
  width: auto;
}

.aiona-portrait {
  position: relative;
  /* width: auto; */
  /* left: 65%; */
  /* top: 10%; */
} 

#aiona-portrait {
  /* border: 2px dotted #f2ff00); */
  position: relative;
  width: 500px; /* Initial width */
  min-height: 100%;
  left: 60%;
  padding-top: 10%;
}

#about-me {
  /* border: 2px dotted var(--white); */
  position: relative;
  height: auto;
}

#about-me-portrait {
  position: relative;
  min-width: 100%;
  top: 0;
  height: auto;
}

.text {
  position: absolute;
  /* border: 2px dotted rgb(142, 30, 107); */
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 600px; */
  height: 50%;
  /* padding-top:170px; */
  padding-top: 13%
}

#about-me h2 {
  color: transparent;
  display: none;
}

#about-me h1,
#about-me h3,
#project h2 {
  position: relative;
  padding-left: 8%;
  text-align: left;
}

#about-me h1 {
  /* border: 2px dotted hsl(195, 71%, 47%); */
  padding-top: 5%;
  margin: 0;
}

#about-me h3 {
  color: var(--purple);
  /* border: 2px dotted hsl(195, 71%, 47%); */
  margin: 0px;
}

#about-me p {
  /* border: 2px dotted #391ed2; */
  position: relative;
  text-align: left;
  text-wrap: wrap;
  white-space: normal;
  padding: 2% 40% 0 8%;
  margin: 0;
  /* display: flex;
  justify-content: center; */
  /* text-align: left;
  text-wrap: wrap; */
}

#project {
  position: relative;
  height: auto;
  /* border: 2px dotted var(--white); */
  /* background-color:rgba(255, 255, 255, 0.557); */
  margin: 0;
}

#h2-project {
  position: relative;
  /* width: 100%; */
  /* border: 2px dotted hsl(195, 71%, 47%); */
}

.canhelp figure {
  /* border: 2px dotted #352ac8; */

}

.canhelp a {
  /* border: 2px dotted #2ac889; */
  position: relative;
  display: flex;
  justify-content: center;
}

#canhelp-img {
  position: relative;
  width: 85%;
  height: 50%;
}

#h3-project{
  position: absolute;
  padding: 45% 0% 0 15%;
  z-index: 1;
  width: auto;
  height: auto;
  text-decoration: underline;
}

footer {
  position: relative;
  bottom: 0px;
  height: 20%;
  /* border: 2px solid yellow; */
}

#contact-me {
  color: transparent;
  /* border: 2px dotted orange); */
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: flex-start;
}

footer ul {
  /* border: 2px dotted chocolate; */
  position: relative;
  bottom: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
}

footer a {
  /* border: 2px dotted rgb(97, 21, 21); */
  font-size: 25px;
  color: var(--white);
  text-decoration: none;
}

/* this will re-adjust the when the screen size hits 992px  */
@media screen and (max-width: 1024px) {

  header nav a {
    font-size: 150%;
  }

  .text {
    position: absolute;
    /* border: 2px dotted rgb(142, 30, 107); */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
    padding-top: 15%;
  }
  
  #about-me h1 {
    font-size: 250%;
  }
    
  #about-me h3 {
    font-size: 155%;
  }
    
  #about-me p {
    font-size: 60%;
  }

  #h2-project {
    font-size: 200%;

  }

  #h3-project {
    font-size: 150%;
  }
}

/* Large smartphones */
@media screen and (max-width: 768px) {

  header nav a {
    font-size: 75%;
  }

  .text {
    position: absolute;
    /* border: 2px dotted rgb(142, 30, 107); */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12%;
    padding-top:10%;
  }
  
  #about-me h1 {
    font-size: 125%;
  }
    
  #about-me h3 {
    font-size: 80%;
  }
    
  #about-me p {
    font-size: 30%;
  }

  #h2-project {
    font-size: 100%;

  }

  #h3-project {
    font-size: 80%;
  }

  footer a {
    font-size: 90%;
  }

} 

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  header nav a {
    font-size: 75%;
  }
  header {
    position:relative;
    display: flex;
    justify-content: center;
    /* border: 2px dotted rgb(30, 210, 201); */
  }

  .text {
    position: absolute;
    /* border: 2px dotted rgb(142, 30, 107); */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 6%;
    padding-top: 2%;
  }
  
  #about-me h1 {
    font-size: 60%;
  }
    
  #about-me h3 {
    font-size: 40%;
  }
    
  #about-me p {
    font-size: 10%;
  }

  #h2-project {
    font-size: 50%;
  }

  #h3-project {
    font-size: 20%;
  }

}


@media screen and (max-width: 400px) {
  header {
    position:relative;
    display: flex;
    justify-content: center;
    font-size: 65%;
    /* border: 2px dotted rgb(30, 210, 201); */
  }

  header nav {
    position: relative;
    width: 100%;
    /* border: 2px dotted #adff2f; */
  }

  header nav ul {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* border: 2px dotted green; */
    width: 100%;
  }

  header nav a {
    position: relative;
    width: auto;
    /* border: 2px dotted rgb(300, 210, 201); */
  }

  #h3-project {
    padding: 40% 0% 0 25%;
  }

  footer ul {
    flex-wrap: wrap;
    display: flex;
    /* flex-direction: column; */
    font-size: 60%;
    align-content: center;
    text-align: center;
    bottom: 0;
  }
}