:root {
  --white:#fff;
  --purple: #987EEE;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: none;
  font-style: normal;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat';
  color: var(--white);
  /* margin: 0; */
  overflow-x: hidden;
}

body {
  /* background-image: url("https://aionarae.github.io/aiona-personal-portfolio/assets/images/background-image.png"); */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh;
  background-color:#191334;
}

header {
  width: auto;
  border: 2px dotted chocolate;
}

header nav {
  border: 2px dotted rgb(30, 210, 201);
  position: relative;
  top: 0;
  width: auto;
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
  z-index: 1;
  margin-bottom: 90px;
}

nav ul {
  border: 2px dotted var(--purple);
  display: flex;
  /* align-items: center; */
  flex-direction: row;
}

nav a {
  border: 2px dotted var(--white);
  font-size: 30px;
  color: var(--white);
  text-decoration: none;
  font-weight: 350;
}

/* This shows an underline if users hove over the link */
nav a:hover {
  text-decoration: underline;
}

section {
  border: 2px dotted rgb(97, 21, 21));
  display: flex;
  flex-direction: column;
  width: auto;
}

.aiona-portrait {
  border: 2px dotted var(--white);
  position: relative;
  width: 500px; /* Initial width */
  height: 35px; /* Initial height */
  left: 65%;
  top: 10%;
} 

.about-me {
  /* width: auto; */
  border: 2px dotted var(--white);
  position: relative;
  height: 500px;
}

#about-me-portrait {
  min-width: 100&;
}

.about-me h1,
.about-me h2{
  margin: 0;
  display: flex;
  justify-content: center;
}

.about-me h2 {
  color: var(--purple);
}

.about-me p {
  display: flex;
  justify-content: center;
  text-align: left;
  text-wrap: wrap;
}

.project {
  position: relative;
  /* width: 100%; */
  height: 1000px;
  border: 2px dotted var(--white);
  background-color:rgba(255, 255, 255, 0.5);
}

footer {
  position: relative;
  bottom: 0px;
  /* top: auto; */
  height: 100px;
  border: 2px solid yellow;
  background-color: rgba(200, 255, 255, 0.5);
}

footer span {
  border: 2px dotted orange);
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: flex-start;
}

footer ul {
  border: 2px dotted chocolate;
  position: relative;
  bottom: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

footer a {
  border: 2px dotted rgb(97, 21, 21);
  font-size: 25px;
  color: var(--white);
  text-decoration: none;
}

/* this will re-adjust the when the size  */
/* @media screen and (max-width: 992px) {
  nav a {
    font-size: 10px;
  }

  h1 {
    font-size: 250%;
  }

  h2 {
    font-size: 200%;
  }

  .about-me {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 5%; 
  } */

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  /* nav a {
    font-size: 10px;
  } */
} 

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  header {
    display: flex;
    justify-content: center;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  nav a {
    color: red;
    width: 100%;s
  }

 
}